html, body {
    height: 100%;
    margin: 0;
}
.center-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fixed-size-card {
    height: 150px !important;
    width: 150px !important;
}